@model EIMS.Models.CommentModel

@{
    ViewBag.Title = "AddComment";
}
<style>
        .actionclass{
            color:white;
            font-style:normal;
            
            
        }
        a:hover {
            color:white;
            background:initial;
           text-decoration:none;
        }
</style>

<h2>Add Comment for Week- @Model.weekId</h2>
<div class="well">
<button type="button" class="btn btn-success"> @Html.ActionLink("Back to List", "getProjTaskDetById", new { Internid = Model.internId }, new { @class = "actionclass" })</button>
<button type="button" class="btn btn-success" id="btnEditor">@Html.ActionLink("Back to Task Details", "getWeeklyTaskById", new { ProjId = Model.projId, Internid = Model.internId, WeekId = Model.weekId}, new { @class = "actionclass" })</button>
<input type="submit" class="btn btn-success" id="btnSave" value="Save" />
<input type="submit" class="btn btn-success" id="btnViewFeedback" value="View Feedback" data-toggle="modal" data-target="#mdlFeedback" />
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.internId, new { @id = "hidInternId" })
    @Html.HiddenFor(model => model.weekId, new { @id = "hidWeekId" })
    @Html.HiddenFor(model => model.projId, new { @id = "hidProjId" })
    @Html.HiddenFor(model => model.status, new { @id = "hidStatus" })

    <div class="container">
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Comment)
            </div>
           
            <div class="editor-field">
                @Html.EditorFor(model => model.Comment, "", new { @id = "txtCmt" })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>

           
        </div>
     

    </div>

    <div class="modal fade" id="mdlFeedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal" id="btnClose"><span aria-hidden="true">×</span></button>

                    <h4 class="modal-title" id="myModalLabel">Feedback</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            @Model.feedback

                        </div>


                    </form>
                </div>
            
            </div>
        </div>
    </div>


}
@section scripts{
    <script src="~/ViewScript/AddComment.js"></script>
    }
 
    
   

