@model EIMS.Models.MentorModel

<div>
   <h4>My Mentor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label> Mentor ID </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MentorId)
        </dd>

        <dt>
           <label>First Name </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName) 
        </dd>

        <dt>
            <label>Mid Name </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MName)
        </dd>

        <dt>
            <label>Last Name </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            <label>Address </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            <label>Email</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <label>Contact</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

      

    </dl>
</div>

